@import "src/components/WeatherCard/style.module";

.redWrapper {
  @extend .wrapper;
  background: #e71d36;

  .icon {
    text-align: right;
    svg {
      width: 30px;
      height: 30px;
      fill: white;
      cursor: pointer;
    }
  }

  &.entering {
    background: gold;
    transform: rotate(15deg);
  }

  &.entered {
    background: white;
    transform: rotate(30deg);
  }

  &.exiting {
    background: pink;
    transform: rotate(45deg);
  }

  &.exited {
    background: darkorange;
  }
}
