@import "src/components/WeatherCard/MainInfo/style.module";

.redWrapper {
  @extend .wrapper;
  background: #e71d36;


  .icon {
    text-align: right;
    svg {
      width: 30px;
      height: 30px;
      fill: white;
      cursor: pointer;
    }
  }

  &.entering {
    border: 20px solid yellow;

  }

  &.entered {
    border: 20px solid darkorange;

  }

  &.exiting {
    border: 20px solid pink;

  }

  &.exited {
    border: 20px solid green;
  }
}
